@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-darkliver {
    @apply text-offwhite border-solid border-2 border-offwhite hover:bg-offwhite hover:text-lightBlack;
  }
  .nav {
    @apply h-14 w-full flex justify-between items-center sticky top-0 z-50 opacity-75 bg-lightBlack;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
  }

  .tab {
    @apply h-14 w-36 border-borderBlack text-lightGrey border-[1px] antialiased text-xl;
  }

  .is-active {
    @apply bg-lightestBlack text-offwhite;
  }

  .tab:not(.is-active) {
    @apply hover:bg-lightestBlack;
  }

  .highlightedText {
    @apply border-b-2 border-lighterGrey text-lightestGrey;
  }

  .underline {
    width: 0%;
    height: 2px;
    margin-left: 50%;
    transition: width 0.5s ease-out, margin-left 0.5s ease-out;
  }

  .underlineTarget:hover + .underline {
    width: 100%;
    margin-left: 0%;
  }

  .heading::after {
    @apply ml-5 h-px w-64 bg-offwhite;
    content: "";
    display: inline-block;
  }

  .heading {
    @apply text-offwhite;
  }

  .subheading {
    @apply text-offwhite;
  }

  .primaryText {
    @apply text-lightGrey text-lg antialiased;
  }

  .highlighted {
    @apply text-lightestGrey decoration-lightestGrey underline-offset-2;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  .highlighted:hover {
    @apply text-greenHighlight;
  }

  .icon {
    @apply text-offwhite;
  }

  .icon:hover {
    @apply text-greenHighlight;
  }

  .nav-item {
    @apply text-offwhite;
  }

  .nav-item:hover {
    @apply text-greenHighlight;
  }

  .project-entry {
    @apply bg-lighterBlack border-borderBlack border-[1px] hover:bg-lightestBlack shadow-sm rounded-3xl;
  }

  .skills-list {
    @apply text-lg primaryText;
  }

  .skills-list-heading {
    @apply text-offwhite text-2xl mb-8;
  }

  /* ... */
}

html,
body {
  scroll-behavior: smooth;
  background-color: #141414;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.arrow-list li::marker {
  content: "▶";
}

li {
  padding-left: 10px;
}

@keyframes underline {
  0% {
    width: 0%;
    margin-left: 50%;
  }

  100% {
    width: 100%;
    margin-left: 0%;
  }
}
